@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@200;300;500;700&display=swap');

/* font-family: 'Inria Serif', serif;
font-family: 'Inter', sans-serif; */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: antiquewhite;
  overflow-x: hidden;
  font-family: 'inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 2;
  font-family: 'inter', sans-serif;
  font-weight: 300;
}

h1,
h2,
h3 {
  font-family: 'inria serif', serif;
  font-weight: 500;
}

/* Navbar */
.navbar {
  width: 100vw;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.062);
  position: fixed;
  top: 0;
  left: 0;
}

.navbar_wrapper {
  width: inherit;
  height: inherit;
  max-width: 1080px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.brand {
  font-size: 32px;
  user-select: none;
  margin: 0;
  padding: 0;
}

.navbar_menu {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  text-transform: capitalize;
  font-weight: 300;
}

.container {
  min-height: 300vh;
}

.container a {
  height: 50px;
  width: 150px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  font-family: inherit;
  border: none;
  outline: none;
  margin-top: 20px;
}

.container a:hover {
  background-color: rgb(192, 170, 140);
}

.hero {
  width: 100vw;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.pexels.com/photos/818649/pexels-photo-818649.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center;
  transition-duration: 5s;
}

.hero p {
  font-size: 32px;
  margin: 0;
}

.hero h1 {
  font-size: 96px;
  margin: 0;
}

.hero:hover {
  background-position: top;
}

section {
  width: 100vw;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_title {
  font-size: 64px;
}

.section_wrapper {
  width: inherit;
  max-width: 1080px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.section_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section_content h2 {
  font-size: 32px;
  margin: 0;
}

.section_content p {
  margin: 0;
  font-size: 18px;
}

.section_image {
  flex: 1;
  height: 350px;
  background-image: url('https://images.pexels.com/photos/2959192/pexels-photo-2959192.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
}

#resepsi > .section_wrapper > .section_image {
  background-image: url('https://images.pexels.com/photos/169198/pexels-photo-169198.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-position: center;
}

.from_wrapper {
  width: inherit;
  height: 500px;
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.pexels.com/photos/818649/pexels-photo-818649.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: top;
}

.form_buku_tamu {
  width: 700px;
  height: 450px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.836);
  padding: 70px;
  gap: 25px;
  justify-content: center;
}

.form_group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form_group label {
  font-size: 18px;
  font-family: 'inter', sans-serif;
  font-weight: 300;
  flex: 1;
  display: flex;
  align-items: center;
}

.form_group input {
  width: 350px;
  height: 45px;
  padding: 0 8px;
  font-size: inherit;
  font-weight: 300;
  font-family: inherit;
}

.form_buku_tamu button {
  height: 45px;
  background-color: black;
  outline: none;
  border: none;
  color: white;
  font-size: inherit;
  font-family: inherit;
}

.btn_map {
  width: 300px;
  height: 45px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  margin: 20px 0;
  justify-content: center;
  border: none;
  outline: none;
  gap: 8px;
}

.btn_map:hover {
  box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.302);
}

.btn_kalender {
  width: 300px;
  height: 45px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  margin: 20px 0;
  justify-content: center;
  border: none;
  outline: none;
  gap: 8px;
}

.btn_kalender:hover {
  box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.302);
}

.btn_instagram {
  width: 300px;
  height: 45px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  margin: 20px 0;
  justify-content: center;
  border: none;
  outline: none;
  gap: 8px;
}

.btn_instagram:hover {
  box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.302);
}

.gallery_list {
  display: flex;
  flex-direction: column;
  gap: 60px;
  flex: 1;
  padding: 30px;
}

footer {
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  margin-top: 100px;
}
